In [1]:
import pandas as pd
import numpy as np
import pickle as pkl
import torch

In [2]:
dataset_folder = "../dataset/"
word2vec_emb_file = dataset_folder + "Word2VecAverageArray.npy"
#word2vec_emb_file = dataset_folder + "sentenceBert.npy"
cnn_file = "../googleNet_rep.npy"

In [3]:
df = pd.read_csv("../dataset/books_with_genres.csv")
df.head()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,"fantasy, paranormal","mystery, thriller, crime",poetry,romance,non-fiction,children,young-adult,"comics, graphic",category,binary_category
0,NaN,7,['189911'],US,eng,"[{'count': '58', 'name': 'to-read'}, {'count':...",B00071IKUY,False,4.03,NaN,...,31.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,"fantasy, paranormal",fiction
1,0842379428,566,[],US,eng,"[{'count': '6393', 'name': 'to-read'}, {'count...",NaN,False,4.26,B000FCKCJC,...,NaN,NaN,NaN,NaN,163.0,NaN,NaN,NaN,non-fiction,non-fiction
2,0590417010,193,[],US,eng,"[{'count': '450', 'name': 'to-read'}, {'count'...",NaN,False,4.43,B017RORXNI,...,NaN,NaN,NaN,NaN,2.0,109.0,1.0,NaN,children,non-fiction
3,1400041694,44,[],US,en-US,"[{'count': '362', 'name': 'to-read'}, {'count'...",NaN,False,3.75,B002OTKEP6,...,NaN,NaN,NaN,NaN,37.0,NaN,NaN,NaN,non-fiction,non-fiction
4,NaN,1,[],US,eng,"[{'count': '8', 'name': 'to-read'}, {'count': ...",NaN,False,3.83,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,poetry,non-fiction

In [4]:
word2vec_emb = np.load(word2vec_emb_file)
word2vec_emb.shape

(5000, 768)

In [5]:
cnn_emb = np.load(cnn_file, allow_pickle=True)

In [6]:
cnn_emb.shape

(5000,)

In [7]:
df[[f"word2vec_emb{i}" for i in range(0, word2vec_emb.shape[1])]] = word2vec_emb
df.head()

/home/a/ajayago/.conda/envs/cs5260/lib/python3.7/site-packages/pandas/core/frame.py:3678: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self[col] = igetitem(value, i)

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,word2vec_emb758,word2vec_emb759,word2vec_emb760,word2vec_emb761,word2vec_emb762,word2vec_emb763,word2vec_emb764,word2vec_emb765,word2vec_emb766,word2vec_emb767
0,NaN,7,['189911'],US,eng,"[{'count': '58', 'name': 'to-read'}, {'count':...",B00071IKUY,False,4.03,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0842379428,566,[],US,eng,"[{'count': '6393', 'name': 'to-read'}, {'count...",NaN,False,4.26,B000FCKCJC,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0590417010,193,[],US,eng,"[{'count': '450', 'name': 'to-read'}, {'count'...",NaN,False,4.43,B017RORXNI,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1400041694,44,[],US,en-US,"[{'count': '362', 'name': 'to-read'}, {'count'...",NaN,False,3.75,B002OTKEP6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,1,[],US,eng,"[{'count': '8', 'name': 'to-read'}, {'count': ...",NaN,False,3.83,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
cnn_emb_dict = {}
for c in cnn_emb:
    cnn_emb_dict[list(c.keys())[0]] = c[list(c.keys())[0]]

In [9]:
df["cnn_emb"] = df["book_id"].astype('str').apply(lambda x: cnn_emb_dict[x])
df.head()

/home/a/ajayago/.conda/envs/cs5260/lib/python3.7/site-packages/ipykernel_launcher.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  """Entry point for launching an IPython kernel.

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,word2vec_emb759,word2vec_emb760,word2vec_emb761,word2vec_emb762,word2vec_emb763,word2vec_emb764,word2vec_emb765,word2vec_emb766,word2vec_emb767,cnn_emb
0,NaN,7,['189911'],US,eng,"[{'count': '58', 'name': 'to-read'}, {'count':...",B00071IKUY,False,4.03,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[[tensor(0.3346), tensor(0.8039), tensor(-1.53..."
1,0842379428,566,[],US,eng,"[{'count': '6393', 'name': 'to-read'}, {'count...",NaN,False,4.26,B000FCKCJC,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[[tensor(0.9929), tensor(0.0823), tensor(-1.19..."
2,0590417010,193,[],US,eng,"[{'count': '450', 'name': 'to-read'}, {'count'...",NaN,False,4.43,B017RORXNI,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[[tensor(0.8658), tensor(0.7940), tensor(-0.29..."
3,1400041694,44,[],US,en-US,"[{'count': '362', 'name': 'to-read'}, {'count'...",NaN,False,3.75,B002OTKEP6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[[tensor(0.2560), tensor(-1.1774), tensor(-0.9..."
4,NaN,1,[],US,eng,"[{'count': '8', 'name': 'to-read'}, {'count': ...",NaN,False,3.83,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[[tensor(-0.0218), tensor(-0.0105), tensor(-1...."

In [10]:
word2vec_tensor = torch.Tensor(df[[f"word2vec_emb{i}" for i in range(0, word2vec_emb.shape[1])]].values)
word2vec_tensor.size()

torch.Size([5000, 768])

In [11]:
x = np.zeros((5000, 1000))
for i in range(len(df["cnn_emb"])):
    x[i] = df["cnn_emb"][i].numpy()

In [12]:
cnn_emb_tensor = torch.Tensor(x)
cnn_emb_tensor.size()

torch.Size([5000, 1000])

In [13]:
torch.save(word2vec_tensor, "../dataset/sentenceBert_emb_tensor.pkl")

In [14]:
# torch.save(cnn_emb_tensor, "../dataset/cnn_emb_tensor.pkl")